body{
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  color: black
  }
.navbar{
background-color: black;
color: blanchedalmond;
height: 40px;
display: flex;
}
.nav1 ,.nav2, .nav3 ,.nav4{
    font-size: 30px;
    margin: 0px;
    padding-right: 20px;
    text-decoration: none;
    color: blanchedalmond;
    
}
.nav4{
  padding-right: 450px;
}

.cheese-container{
    margin-top: 0px;
      display: flex;
      height: 300px;
      background-image: url('https://i.pinimg.com/originals/89/0f/18/890f187bbdd200e4c142f8657eed9878.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      margin-bottom: 50px;
      
      
  }
  .cheese-heading{
      font-size: 90px;
      font-weight: bolder;
      text-align: center;
      margin-left: 500px;
      color: black;
  }
  .line{
    color: blanchedalmond;
    text-align: center;
  }
  .cheese-menu-container1{margin-left:100px;
    display: flex;
          height: 300px;
          margin-bottom: 30px;
          
      }
      .cheese-menu-container2{margin-top:80px;
        margin-left: 100px;
        display: flex;
              height: 400px;
              
          }
        .card {
           
          position: relative;
          width: 300px;
          height: 350px;
        margin-left: 30px;
          background: #000;
          border-radius: 15px;
          box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
          cursor: pointer;
          
        }
        .card1 {
           
            position: relative;
            width: 300px;
            height: 350px;
          margin-left: 30px;
            background: #000;
            border-radius: 15px;
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            
          }
        .face {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
          .face1 {
            box-sizing: border-box;
            padding: 20px;
          }
      
            #addtocart {
              background-color: #fffc00;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            
            
            
              .face {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              .face1 {
                box-sizing: border-box;
                padding: 20px;
              }
            .face2 {
              transition: 0.5s;
              text-decoration: none;
            }
              h2 {
                margin: 0;
                padding: 0;
                font-size: 10em;
                color: black;
                transition: 0.5s;
               
                z-index: 10;
            
              }
            
          a{
              text-decoration: none;
          }
        
      
        .card1:hover .face.face2 {
          height: 60px;
        }
      
          h2 {
            font-size: 2em;
            
          }
          .face2 {
            transition: 0.5s;
            text-decoration: none;
          }
            h2 {
              margin: 0;
              padding: 0;
              font-size: 10em;
              color: black;
              transition: 0.5s;
             
              z-index: 10;
          
            }
          
        a{
            text-decoration: none;
        }
      
    
      .card:hover .face.face2 {
        height: 60px;
      }
    
        h2 {
          font-size: 2em;
          
        }
        
      
        .card:nth-child(1) .face.face2 {
          background-image: url('https://www.alphafoodie.com/wp-content/uploads/2020/08/Mozzarella-cheese-500x500.jpeg');
          border-radius: 15px;
          background-repeat: no-repeat;
          background-size: cover;
        }
        .card:nth-child(2) .face.face2 {
          background-image: url('https://www.verywellfit.com/thmb/YJSdLdl4NrxVmL_JaKb2Dktf9PI=/2669x2002/smart/filters:no_upscale()/cheddar-cheese-crop-3fdf5ad3229e4748bbc0b8acdc442dcd.jpg');
          background-size: cover;
          border-radius: 15px;
        }
        .card:nth-child(3) .face.face2 {
          background-image: url('https://d2cbg94ubxgsnp.cloudfront.net/Pictures/480xAny/3/9/4/89394_parmesan_shutterstock_152999969_630m.jpg');
          background-size: cover;
          border-radius: 15px;
        }
        .card1:nth-child(1) .face.face2 {
          background-image: url('https://www.alphafoodie.com/wp-content/uploads/2020/07/Goat-Cheese-Square-Photo.jpeg');
          background-size: cover;
          border-radius: 15px;
        }
        .card1:nth-child(2) .face.face2 {
          background-image: url('https://www.renardscheese.com/wp-content/uploads/img_4638-scaled.jpg');
          background-size: cover;
          border-radius: 15px;
        }
        .card1:nth-child(3) .face.face2 {
            background-image: url('ricotta-cheese-.jpg');
            background-size: cover;
            border-radius: 15px;
          }

  .add{
    text-decoration: none;
    font-size: 20px;
    color: #fffc00;
    margin-left: 0px;
    background: black;
    border: none;
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;;
   
  
    
  }
  .cart1 , .cart2,.cart3,.cart4,.cart5,.cart6{
    color: #fffc00;
  }
  .addto{
    margin-top: 20px;
    border: mintcream;
    border-width: medium;
    border-style: solid;
    text-align: center;
    padding-top : 5px;
    padding-bottom : 5px;
    
  }
  .addto:hover{
    transform: translateY(0) scale(1.09);
  }
.font{
  font-size: 30px;
  text-decoration: none;
  color: blanchedalmond;
 text-align: center;
} 
span{
  margin-left: 10px;
}
h4{
  color: blanchedalmond;
  padding-left: 30px;

}
#myDIV{
  width:200px;
  display: flex;
 
}
.font:hover{
  color: #000;
  background-color: rgba(158, 151, 151, 0.39);
}
.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: blanchedalmond;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid blanchedalmond;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color:blanchedalmond;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color:blanchedalmond;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color:yellow;
  background-color: black;
  border: mintcream solid;
  border-radius: .3em;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Gideon Roman' , cursive;
  padding: 4px;
}

.btn-danger:hover {
transform: translateY(0) scale(1.09);
  
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: blanchedalmond;
  margin-right: 20px;
}

.cart-total-price {
  color: blanchedalmond;
  font-size: 1.1em;
}
.section-header {

font-weight: normal;
color: blanchedalmond;
text-align: center;
font-size: 2.5em;
}
.btn-purchase {
display: block;
margin: 40px auto 80px auto;
font-size: 1.75em;
text-decoration: none;
background-color: black;
color: yellow;
font-family:  'Gideon Roman', cursive;
border: mintcream solid;
border-width: 3px;
cursor: pointer;
padding: 5px;
}
.btn-purchase:hover{
transform: translateY(0) scale(1.1);
}