body{
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-repeat: repeat;
  background-size: cover;

}
.navbar{
    background-color: black;
    color: blanchedalmond;
    height: 40px;
    align-self: flex-start;
    display: flex;
    
    }
    .nav1 ,.nav2, .nav3 ,.nav4{
      font-size: 30px;
      margin: 0px;
      padding-right: 20px;
      text-decoration: none;
      color: blanchedalmond;
      
  }
  .nav4{
    padding-right: 450px;
  }

  /*------------------------------------ INDEX PAGE STARTS----------------------------------------------------- */

    .container{
      display: flex;
    }
    :root {
      
        
      
        --neon-text-color: rgb(203, 216, 15);
        
      }
    #mainh1, #underline {
        font-size: 80px;
        font-weight: 600;
       margin-top: 100px;
        color: black;
        padding: 4rem 6rem 5.5rem;
        
      margin-left: 150px;
        animation: flicker 1.5s infinite alternate;     
      }
      
      #mainh1::-moz-selection ,#underline::-moz-selection {
        
        color: var(--neon-text-color);
      }
      
      #mainh1::selection, #underline::selection  {
       
        color: var(--neon-text-color);
      }
      
      #mainh1:focus,#underline:focus {
        outline: none;
      }
      
   
      @keyframes flicker {
          
          0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
            
              text-shadow:
                  -0.2rem -0.2rem 1rem #fff,
                  0.2rem 0.2rem 1rem #fff,
                  0 0 2rem var(--neon-text-color),
                  0 0 4rem var(--neon-text-color),
                  0 0 6rem var(--neon-text-color),
                  0 0 8rem var(--neon-text-color),
                  0 0 10rem var(--neon-text-color);
              
                  
          }
          
          20%, 24%, 55% {        
              text-shadow: none;
              box-shadow: none;
          }    
      }
.nav{
    background-color: #bb180393;
    padding-top:50px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.container{
    margin-top: 0px;
    display: flex;
    height: 500px;
    background-image: url('http://25.media.tumblr.com/tumblr_me0o0mSVRn1qc8e6lo1_500.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    
}
.loader-container{
  position: fixed;
  top:0; left:0;
  z-index: 10000;
  background-color: #922d4b;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
}

.loader-container.fade-out{
  top:-120%;
}
#underline{
text-align: left;
padding: 0px;
margin: 0px;
}
#main-menu-container{
      
  background-image: url('pizza sticker.png');
  background-repeat: no-repeat;
  background-size:initial;
  background-position-x: center;
  background-position-y: center;
 height: 590px;
   display: flex;
   justify-content: space-around;
   
}

#custom{
 margin: 30px;
   align-self:flex-start;
   border: whitesmoke;
   border-style: solid;
   padding: 10px;
  box-shadow: rgba(243, 243, 245, 0.781) 0px 4px 16px, rgba(110, 110, 133, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  cursor: pointer;
}
#custom:hover{
transform: translateY(0) scale(1.1);
background-color: black;
color: aliceblue;
transition: ease-in;
transition-duration: 0.2s;
}
#ready{
 align-self: flex-end;
 border: whitesmoke;
 border-style: solid;
 padding: 10px;
margin-right: 50px;
margin-bottom: 30px;
box-shadow: rgba(243, 243, 245, 0.781) 0px 4px 16px, rgba(110, 110, 133, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#ready:hover{
transform: translateY(0) scale(1.1);
background-color: black;
color: aliceblue;
transition: ease-in;
transition-duration: 0.2s;
}
.a1, .a2{
     font-size: 40px;  
text-decoration: none;
color: aliceblue;
}
#about {
  align-items: center;
 
  display: flex;
 
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  margin: 0;
}
.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 280px;
}
.about-container {
  border-radius: 50%;
  height: 312px;
  -webkit-tap-highlight-color: transparent;
  transform: scale(0.48);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 400px;

}
.about-container:after {

  content: "";
  height: 10px;
  position: absolute;
  top: 390px;
  width: 100%;
}
.about-container:hover {
  transform: scale(0.54);
}
.about-container-inner {
  clip-path: path(
    "M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z"
  );
  position: relative;
  transform-origin: 50%;
  top: -200px;
  
}
.circle {

  border-radius: 50%;
  cursor: pointer;
  height: 380px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  top: 210px;
  width: 380px;
}
.img {
  pointer-events: none;
  position: relative;
  transform: translateY(20px) scale(1.15);
  transform-origin: 50% bottom;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.about-container:hover .img {
  transform: translateY(0) scale(1.2);
}
.img1 {
  left: 22px;
  top: 164px;
  width: 340px;
}
.img2 {
  left: -46px;
  top: 174px;
  width: 444px;
}
.img3 {
  left: -16px;
  top: 144px;
  width: 466px;
}
.img4 {
    left: -16px;
    top: 144px;
    width: 466px;
  }
.divider {
  background-color: #ca6060;
  height: 1px;
  width: 160px;
}
.name {
  color: blanchedalmond;
  font-size: 36px;
  font-weight: 600;
  margin-top: 16px;
  text-align: center;
}
.title {
  color: #6e6e6e;
  font-family: arial;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
}

#abouth1, #menuh1{
  margin-bottom: 20px;
  padding: 0px;
  color: blanchedalmond;
  font-size: 70px;
}
.font{
  font-size: 30px;
  text-decoration: none;
  color: blanchedalmond;
 text-align: center;
} 
#myDIV{
  width:200px;
  display: flex;
 
}
.font:hover{
  color: #000;
  background-color: rgba(158, 151, 151, 0.39);
}
.add{
  text-decoration: none;
  font-size: 20px;
  color: #fffc00;
  margin-left: 0px;
  background: black;
  border: none;
  cursor: pointer;
  font-family: 'Gideon Roman', cursive;;
}
@media (min-width:200px) and (max-width:1200px) {
  .loader-container{
    width:600px;
    width: 100%;
    height: 100%;
  }
  
}
  /*------------------------------------ INDEX PAGE ENDS----------------------------------------------------- */


/* ------------------------------------CONTACT FORM STARTS ----------------------------------*/

input {
  outline: none;
  border: none;
}

textarea {
outline: none;
border: none; 
font-family: Helvetica Neue, "Montserrat", sans-serif;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}


/*==================================================================
[ Contact - Area]*/

.container-contact {
  width: 100%;  
  min-height: 70vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: transparent;
 
}

.wrap-contact {
  width: 700px;
  background: transparent;
  border: 1px solid #b3b3b3;
  padding: 40px 0px 20px 0px;
  background-image: url('https://i.pinimg.com/originals/8e/32/3e/8e323e5eb8e476d9f0f0fb18d5ae3113.jpg');
  background-size: cover;
}

.wrap-contact-image {
  width: 600px;
  background: transparent;
  padding: 40px 0px 20px 0px;
}

/*==================================================================
[ Contact - Form ]*/

.contact-form {
  width: 100%;
}

.error {
  padding: 5px 9px;
  border: 1px solid red;
  color: red;
  border-radius: 3px;
}
 
.success {
  padding: 5px 9px;
  border: 1px solid green;
  color: green;
  border-radius: 3px;
}


/*------------------------------------------------------------------
[ Input ]*/

.wrap-input {
  width: 90%;
  background-color: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}


.input {
  position: relative;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 31px;
  color:black;
  line-height: 1.2;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  height: 42px;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: none;
}

/*---------------------------------------------*/

input.input {
  height: 62px;
  padding: 0 15px 0 15px;
}


textarea.input {
  min-height: 169px;
  padding: 19px 15px 0 15px;
}

/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #fff;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input:focus + .focus-input100 {
  width: calc(100% + 20px);
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 250px;
  height: 50px;
  background-color: transparent;
  border-radius:7px;
  cursor: pointer;

  font-family: "Montserrat";
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 7px;
  background-color: #9e8c7b;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact-form-btn:hover:before {
  background-color: #916439;
}

.validate-input {
  position: relative;
}




/*==================================================================
[  Hero title ]*/


.listing-hero {
    background: #F7F0EA;
    padding: 101px 0 30px;
}

.hero-heading {
    margin: 0 auto;
    width: 100%;
    max-width: 709px;
}

section#post-28 {
    padding-top: 155px;
}

.hero-large {
    display: inline-block;
    width: 40%;
    font-weight: 300;
    font-size: 56px;
    line-height: 56px;
    position: relative;
    top: -19px;
    color: #454545;
}

.hero-text {
    display: inline-block;
    width: 59%;
    vertical-align: top;
    border-left: 1px solid #8E8E8E;
    padding: 0 33px;
    font-size: 15px;
    line-height: 23px;
    /* or 153% */
    color: black;
    vertical-align: top;
}


.hero-text .btn.no-border {
    margin-top: 15px;
    margin-bottom: 6.5px;
  
    background-repeat: no-repeat;
    background-size: 25px;
    display: block;
    background-position: right center;
    max-width: 99px;
}

.hero-text i {
    font-style: normal;
    margin-top: -6px;
    display: block;
}
.crustRadio{
  padding-left: 30px;

}

/* -----------------CONTACT FORM ENDS---------------------- */

/* --------------------------------PRE MADE PIZZA PAGE STARTS------------------------------------------- */
.ready-container{
  margin-top: 0px;
    display: flex;
    height: 400px;
    background-image: url('https://reygif.com/media/6/hora-de-la-pizza-88452.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    margin-bottom: 50px;
    
    
}
.ready{
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    margin-left: 50px;
  margin-top: 140px;
    color: beige;
}
.mainbg-container{

    height: 100%;
    margin-left: 100px;
    margin-right: 100px;
    background-color: antiquewhite;
}
.premade-heading{
    font-size: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-self: flex-start;
}
.premade-description{
  font-size: 40px;
  text-align: left;
  align-self: flex-end;
  margin-right: 500px;
}
.premade-img1{
  margin-top: 25px;
  margin-right: 20px;
  cursor: pointer;;
}
.premade-img1:hover{
  transform: translateY(0) scale(1.09);
}
.firstcon{
  border-bottom: black;
  border-bottom-width: 40px;
  border-bottom-style: solid;
}
.moz{
  font-size: 75px;
}

.add{
  text-decoration: none;
  font-size: 20px;
  color: black;
  margin-left: 0px;
  background-color: blanchedalmond;
  border: none;
  cursor: pointer;
  font-family: 'Gideon Roman', cursive;;
  
}
.add-premade,.add-main{
  text-decoration: none;
  font-size: 20px;
  color: blanchedalmond ;
  margin-left: 0px;
  background-color: black;
  border: none;
  cursor: pointer;
  font-family: 'Gideon Roman', cursive;;
  
}
.add-main{
  padding-left: 100px;
}
.addto{
  margin-top: 20px;
  border: black;
  border-width: medium;
  border-style: solid;
  text-align: center;
  padding-top : 5px;
  padding-bottom : 5px;
  margin-right: 700px;
  margin-left: 50px;
  margin-bottom: 30px;
  
}
.addto:hover{
  transform: translateY(0) scale(1.09);
}
.font{
font-size: 30px;
text-decoration: none;
color: blanchedalmond;
display: flex;
align-self: flex-end;
} 

.cart-other{
padding-left: 600px ;

}    

.premade{
  color: blanchedalmond;
}
/* --------------------------------PRE MADE PIZZA PAGE ENDS------------------------------------------- */

/* **********************DISPLAY CART SECTION STARTS************************** */

 
 .cart-header {
   font-weight: bold;
   font-size: 1.25em;
   color: blanchedalmond;
  
}

.cart-column {
   display: flex;
   align-items: center;
   border-bottom: 1px solid blanchedalmond;
   margin-right: 1.5em;
   padding-bottom: 10px;
   margin-top: 10px;
}

.cart-row {
   display: flex;
}

.cart-item {
   width: 45%;
}

.cart-price {
   width: 20%;
   font-size: 1.2em;
   color:blanchedalmond;
}

.cart-quantity {
   width: 35%;
}

.cart-item-title {
   color:blanchedalmond;
   margin-left: .5em;
   font-size: 1.2em;
   
}

.cart-item-image {
   width: 75px;
   height: auto;
   border-radius: 10px;
}

.btn-danger {
   color:yellow;
   background-color: black;
   border: mintcream solid;
   border-radius: .3em;
   font-weight: bold;
   cursor: pointer;
   font-family: 'Gideon Roman' , cursive;
   padding: 4px;
}

.btn-danger:hover {
 transform: translateY(0) scale(1.09);
   
}

.cart-quantity-input {
   height: 34px;
   width: 50px;
   border-radius: 5px;
   border: 1px solid #56CCF2;
   background-color: #eee;
   color: #333;
   padding: 0;
   text-align: center;
   font-size: 1.2em;
   margin-right: 25px;
}

.cart-row:last-child {
   border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
   border: none;
}

.cart-total {
   text-align: end;
   margin-top: 10px;
   margin-right: 10px;
}

.cart-total-title {
   font-weight: bold;
   font-size: 1.5em;
   color: blanchedalmond;
   margin-right: 20px;
}

.cart-total-price {
   color: blanchedalmond;
   font-size: 1.1em;
}
.section-header {
 
 font-weight: normal;
 color: blanchedalmond;
 text-align: center;
 font-size: 2.5em;
}
.btn-purchase {
display: block;
margin: 40px auto 80px auto;
font-size: 1.75em;
text-decoration: none;
background-color: black;
color: yellow;
font-family:  'Gideon Roman', cursive;
border: mintcream solid;
border-width: 3px;
cursor: pointer;
padding: 5px;
}
.btn-purchase:hover{
transform: translateY(0) scale(1.1);
}
.cart{
  
    padding-bottom: 0px;
    font-size: 20px;
margin-left: 300px;
}
/* **********************DISPLAY CART SECTION ENDS************************** */
                   