body{
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  
  }
.navbar{
background-color: black;
color: blanchedalmond;
height: 40px;
display: flex;
}
.nav1{
    font-size: 30px;
    margin: 0px;
    padding: 20px;
    text-decoration: none;
    color: blanchedalmond;
}
.nav2{
    font-size: 30px;
    margin-left: 600px;
    text-decoration: none;
    color: blanchedalmond;
}
.ready-container{
    margin-top: 0px;
      display: flex;
      height: 400px;
      background-image: url('https://reygif.com/media/6/hora-de-la-pizza-88452.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      margin-bottom: 50px;
      
      
  }
  .ready{
      font-size: 90px;
      font-weight: bolder;
      text-align: center;
      margin-left: 50px;
    margin-top: 140px;
      color: beige;
  }
  .mainbg-container{
 
      height: 100%;
      margin-left: 100px;
      margin-right: 100px;
      background-color: antiquewhite;
  }
  h1{
      font-size: 80px;
      margin-bottom: 0px;
      margin-top: 0px;
      align-self: flex-start;
  }
h2{
    font-size: 40px;
    text-align: left;
    align-self: flex-end;
    margin-right: 500px;
}
.img1{
    margin-top: 25px;
    margin-right: 20px;
    cursor: pointer;;
}
.img1:hover{
    transform: translateY(0) scale(1.09);
}
.firstcon{
    border-bottom: black;
    border-bottom-width: 40px;
    border-bottom-style: solid;
}
.moz{
    font-size: 75px;
}
.cart1 , .cart2,.cart3,.cart4,.cart5,.cart6{
    color: #fffc00;
  }
  .add{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-left: 0px;
    background: blanchedalmond;
    border: none;
    cursor: pointer;
    font-family: 'Gideon Roman', cursive;;
    
  }
  .addto{
    margin-top: 20px;
    border: black;
    border-width: medium;
    border-style: solid;
    text-align: center;
    padding-top : 5px;
    padding-bottom : 5px;
    margin-right: 700px;
    margin-left: 50px;
    margin-bottom: 30px;
    
  }
  .addto:hover{
    transform: translateY(0) scale(1.09);
  }
.font{
  font-size: 30px;
  text-decoration: none;
  color: blanchedalmond;
  display: flex;
  align-self: flex-end;
} 
span{
  margin-left: 10px;
}
 
h4{
  color: blanchedalmond;
  padding-left: 30px;

}
.cart{
 padding-left: 600px ;
 
}    



