body{
  background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
  background-repeat: no-repeat;
  background-size: cover;

}
.container{
  height: 600px;
  
  display: flex;
flex-wrap: wrap;
  justify-content: space-evenly;
}
.end{
 background-color: black;
 height: 20px;
}


div h1{
  margin-left: 120px;
}
.h1-top{
  margin-left: 100px;
}
.topping , .sauces ,.crust ,.cheese{
    
text-decoration: none;
color: aliceblue;
}
.sauce, .cheese{
  align-self: center;
}
.toppimg , .sauceimg, .cheeseimg , .crustimg{
    
  transition: box-shadow .3s;
    width: 300px;
   border-radius: 50%;
   float: left;
   height: 250px;
   cursor: pointer;
   
}
.toppimg:hover
{
  box-shadow: rgba(237, 237, 240, 0.884) 0px 50px 100px -20px;
  transform: scale(1.1, 1.1);
}

.toppimg:hover::after {
  opacity: 0.5;
}
.sauceimg:hover
{
  box-shadow: rgba(237, 237, 240, 0.884) 0px 50px 100px -20px;
  transform: scale(1.1, 1.1);
}

.sauceimg:hover::after {
  opacity: 0.5;
}
.crustimg:hover
{
  
  box-shadow: rgba(237, 237, 240, 0.884) 0px 50px 100px -20px;
  transform: scale(1.1, 1.1);
}

.crustimg:hover::after {
  opacity: 0.5;
}
.cheeseimg:hover
{
  box-shadow: rgba(237, 237, 240, 0.884) 0px 50px 100px -20px;
  transform: scale(1.1, 1.1);
}

.cheeseimg:hover::after {
  opacity: 0.5;
}



