body{
    background-image: url('https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8YmxhY2tib2FyZHxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  color: black;
  width: 100%;
  }
.navbar{
background-color: black;
color: blanchedalmond;
height: 40px;
width: 100%;
display: flex;
}
.nav1 ,.nav2, .nav3 ,.nav4{
    font-size: 30px;
    margin: 0px;
    padding-right: 20px;
    text-decoration: none;
    color: blanchedalmond;
}

.line{
  color:blanchedalmond;
  text-align: center;
  padding-bottom: 10px;
}
.veg-container{
    margin-top: 0px;
      display: flex;
      height: 345px;
      background-image: url('https://thumbs.gfycat.com/VibrantHalfBurro-size_restricted.gif');
      background-size: cover;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: center;
      margin-bottom: 50px;
    
      
      }
  
  .veggie{
      font-size: 100px;
      font-weight: bolder;
      text-align: center;
      margin-top: 100px;
      margin-left: 340px;
      color:black;
      
  }
  .veg-menu-container1{margin:100px;
    margin-top: 0px;
    display: flex;
          height: 300px;
          margin-bottom: 30px;
          
          }
          .veg-menu-container2{margin-left:  302px;
            display: flex;
                  height: 300px;
                  margin-bottom: 30px;
                  margin-top: 20px;
                  
                  }
                  .veg-menu-container3{margin:100px;
                    margin-top: 40px;
                    display: flex;
                          height: 300px;
                          margin-bottom: 0px;
                          
                          }
      .card {
       
        position: relative;
        width: 300px;
        height: 300px;
      margin-left: 30px;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
        cursor: pointer;
      display: flex;
       
        
      }
      .card1 {
       
        position: relative;
        width: 300px;
        height: 350px;
      margin-left: 30px;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
        cursor: pointer;
     display: flex;
        
      }
      .card2 {
       
        position: relative;
        width: 300px;
        height: 300px;
      margin-left: 30px;
        background: #000;
        border-radius: 15px;
        box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
        cursor: pointer;
        display: flex;
        
      }
      
      .face {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    
        .face1 {
          box-sizing: border-box;
          padding: 20px;
        width: 100%;
        display: flex;

        }
    
          .tomato {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .onion {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .corn {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .bell {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .baby {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .olive {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .jala {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .mush {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .paneer {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .spring {
            background-color: #fffc00;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          .face2 {
            transition: 0.5s;
            text-decoration: none;
            display: flex;
          }
           
        a{
            text-decoration: none;
        }
      
    
      .card1:hover .face.face2 {
        height: 60px;
      }
      .card2:hover .face.face2 {
        height: 60px;
      }
    
    
        h2 {
          font-size: 2px;
          
        }
        .face2 {
          transition: 0.5s;
          text-decoration: none;
          display: flex;
        }
         
        
      a{
          text-decoration: none;
      }
    
  
    .card:hover .face.face2 {
      height: 60px;
    }
  
      h2 {
        font-size: 2em;
        
      }
      
    
      .card:nth-child(1) .face.face2 {
        background-image: url('https://www.thespruceeats.com/thmb/WVxnaDges0sGf0s00dKxV6UraLU=/2000x2000/smart/filters:no_upscale()/sweet-cherry-tomatoes-in-a-bowl-526371425-4c8c9d83dece4ec1a00d7f1618895eb3.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card:nth-child(2) .face.face2 {
        background-image: url('https://thumbs.dreamstime.com/b/chopped-onion-bowl-black-rustic-background-145401715.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card:nth-child(3) .face.face2 {
        background-image: url('https://thelemonbowl.com/wp-content/uploads/2015/07/Sweet-Corn-The-Lemon-Bowl.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card:nth-child(4) .face.face2 {
        background-image: url('https://www.westend61.de/images/0000475153i/glass-bowl-of-sliced-bell-peppers-on-white-wood-SARF001080.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .card1:nth-child(1) .face.face2 {
        background-image: url('https://static.toiimg.com/photo/84917716.cms');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card1:nth-child(2) .face.face2 {
        background-image: url('https://colorfulplates.co/wp-content/uploads/2018/11/shutterstock_769353406-1024x741.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card2:nth-child(1) .face.face2 {
        background-image: url('https://www.pepperbowl.com/wp-content/uploads/2020/10/how-to-cut-jalapeno-683x1024.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card2:nth-child(2) .face.face2 {
        background-image: url('https://www.thespruceeats.com/thmb/uO_0oeZ8F2V2gia2ZCxn-WOiaAk=/1414x1414/smart/filters:no_upscale()/mushrooms-d518dac19eac484495d6134c268c9e42.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card2:nth-child(3) .face.face2 {
        background-image: url('https://www.cookwithmanali.com/wp-content/uploads/2013/06/Homemade-Paneer-Easy-Recipe.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .card2:nth-child(4) .face.face2 {
        background-image: url('https://previews.123rf.com/images/bigacis/bigacis1610/bigacis161000144/65498026-bowl-of-chopped-spring-onions-on-wooden-table-top-view.jpg');
        border-radius: 15px;
        background-repeat: no-repeat;
        background-size: cover;
      }





      .nonveg-container{
        margin-top: 70px;
          display: flex;
          height: 345px;
          background-image: url('https://i2.wp.com/klfoodie.com/wp-content/uploads/2018/09/g9pbsQ7.gif?fit=646%2C364&ssl=1');
          background-size: cover;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: center;
          margin-bottom: 50px;
        
          
          }
      .nonveggie{
          font-size: 100px;
          font-weight: bolder;
          text-align: center;
          margin-top: 100px;
          margin-left: 289px;
          color:black;
          
      }
      .nonveg-menu-container1{margin:100px;
        margin-top: 0px;
        display: flex;
              height: 300px;
              margin-bottom: 30px;
              
              }
              .nonveg-menu-container2{margin-left:  302px;
                display: flex;
                      height: 300px;
                      margin-bottom: 30px;
                      margin-top: 20px;
                      padding-bottom: 70px;
                      
                      }
                      .nonveg-menu-container3{margin:100px;
                        margin-top: 40px;
                        display: flex;
                              height: 300px;
                              margin-bottom: 0px;
                              
                              }
          .card3 {
           
            position: relative;
            width: 300px;
            height: 300px;
          margin-left: 30px;
            background: #000;
            border-radius: 15px;
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: flex;
           
            
          }
          .card4 {
           
            position: relative;
            width: 300px;
            height: 350px;
          margin-left: 30px;
            background: #000;
            border-radius: 15px;
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: flex;
            
          }
          .card5 {
           
            position: relative;
            width: 300px;
            height: 300px;
          margin-left: 30px;
            background: #000;
            border-radius: 15px;
            box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            display: flex;
            
          }
          
          .face {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        
            .face1 {
              box-sizing: border-box;
              padding: 20px;
            width: 100%;
    
            }
        
              .bbqch {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .keem {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .tikka {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .herb {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .pepp {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .sal {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .saus {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .tan {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .teri {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .peri {
                background-color: #fffc00;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .face2 {
                transition: 0.5s;
                text-decoration: none;
              }
                h2 {
                  margin: 0;
                  padding: 0;
                  font-size: 10em;
                  color: black;
                  transition: 0.5s;
                 
                  z-index: 10;
              
                }
              
            a{
                text-decoration: none;
            }
          
        
          .card3:hover .face.face2 {
            height: 60px;
          }
          .card4:hover .face.face2 {
            height: 60px;
          }
        
        
            h2 {
              font-size: 2em;
              
            }
            .face2 {
              transition: 0.5s;
              text-decoration: none;
            }
              h2 {
                margin: 0;
                padding: 0;
                font-size: 10em;
                color: black;
                transition: 0.5s;
               
                z-index: 10;
            
              }
            
          a{
              text-decoration: none;
          }
        
      
        .card5:hover .face.face2 {
          height: 60px;
        }
      
          h2 {
            font-size: 2em;
            
          }
          
        
          .card3:nth-child(1) .face.face2 {
            background-image: url('https://www.simplyrecipes.com/thmb/7KwExJ0ZbVEmlxBaMsgmrBTi9M4=/4667x3111/filters:no_upscale():max_bytes(150000):strip_icc()/Simply-Recipes-Grilled-BBQ-Chicken-LEAD-10-03fd9892eaae4ce1a8a3f4c949657cfd.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card3:nth-child(2) .face.face2 {
            background-image: url('http://www.theterracekitchen.in/wp-content/uploads/2019/07/065.-Chicken-Keema-Pizza_545x545-500x500.png');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card3:nth-child(3) .face.face2 {
            background-image: url('https://www.eitanbernath.com/wp-content/uploads/2020/10/Chicken-Tikka-LOW-RES-1.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card3:nth-child(4) .face.face2 {
            background-image: url('https://www.jocooks.com/wp-content/uploads/2016/04/chicken-in-garlic-and-herb-sauce-1-10.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
    
          .card4:nth-child(1) .face.face2 {
            background-image: url('https://assets.thehansindia.com/h-upload/2021/09/19/1112620-pepperoni-pizza-day.webp');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card4:nth-child(2) .face.face2 {
            background-image: url('https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/12/20/0/FNK_Whole-Grain-Salami-Mozzarella-Pizza-Cut_s4x3.jpg.rend.hgtvcom.616.462.suffix/1483737099706.jpeg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card5:nth-child(1) .face.face2 {
            background-image: url('https://d3gy1em549lxx2.cloudfront.net/62503792-1e68-44cf-bedf-918e9eaf4c82.JPG');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card5:nth-child(2) .face.face2 {
            background-image: url('https://www.cubesnjuliennes.com/wp-content/uploads/2019/11/Tandoori-Chicken-1.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card5:nth-child(3) .face.face2 {
            background-image: url('https://www.tasteandtellblog.com/wp-content/uploads/2020/10/Teriyaki-Chicken-Pizza-3.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .card5:nth-child(4) .face.face2 {
            background-image: url('https://foodiesterminal.com/wp-content/uploads/2019/08/just-like-nandos-peri-peri-chicken.jpg');
            border-radius: 15px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .add{
            text-decoration: none;
            font-size: 20px;
            color: #fffc00;
            margin-left: 0px;
            background: black;
            border: none;
            cursor: pointer;
            font-family: 'Gideon Roman', cursive;;
          }
          .cart7 , .cart8,.cart9,.cart10,.cart11,.cart12,.cart13,.cart14,.cart15,.cart16,.cart17,.cart18, .cart19,.cart20,.cart21,.cart22,.cart23,.cart24,.cart25,.cart26
          {
            color: #fffc00;
          }
          .addto{
            margin-top: 20px;
            border: mintcream;
            border-width: medium;
            border-style: solid;
            text-align: center;
            padding-top : 5px;
            padding-bottom : 5px;
            
          }
          .addto:hover{
            transform: translateY(0) scale(1.09);
          }
        .font{
          font-size: 30px;
          text-decoration: none;
          color: blanchedalmond;
          display: flex;
          align-self: flex-end;
        } 
        span{
          margin-left: 10px;
        }
        h4{
          color: blanchedalmond;
          padding-left: 30px;

        }
        .cart{
         margin-left: 450px;
        }